<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{HTTP_HOST} ^portal\.ieprg\.org$ [NC]
  RewriteRule ^$ public/index.php [L]
  RewriteCond %{HTTP_HOST} ^portal\.ieprg\.org$ [NC]
  RewriteRule ^((?!public/).*)$ public/$1 [L]
</IfModule>
